*{
  color: snow;
}
#main{
    margin: 0;
    padding: 0;
    border: 0;
    background: #231b31;
    color: snow;
}
.boxContact{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#contenedor-1{
    width: 100%;
}
#contenedor-2{
    width: 100%;
}
#contactText{
    width: 40%;
    padding: 10% 5% 10% 10%;
}
#contactForm{
    width: 60%;
    padding: 10% 5% 10% 5%;
    
}
.select{
  padding-left: 8%;
}
#contactText > *{
    padding-bottom: 5%;
}

@media (max-width: 599px) {
    #contenedor-1 {
      flex-direction: column;
    }
  }



  .custom-button-2 {
    display: inline-flex;
    align-items: center;
    height: 40px;
    padding: 15px 20px 15px 20px;
    background-color: #e36124; /* Color de fondo del botón */
    color: #231b31; /* Color del texto */
    border: none;
    border-radius: 30px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar el ratón por encima */
    transition: background-color 0.2s, color 0.2s; /* Transición suave */
    font-weight: bolder;
  }
  
  .custom-button-2:hover {
    background-color: #231b31; /* Cambia el color de fondo al pasar el ratón por encima */
    color: #e36124;
  }
  
  .custom-button-2 span {
    font-size: 16px; /* Tamaño del texto */
  }
  
  input[type="submit"] {
    width: 100px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background: #e36124;
    color: snow;
    font-weight: bolder;
  }
  input[type="submit"]:hover {
    background: #231b31;
    color: #e36124;
  }
  #image{
    padding-top: 10px;
  }


  #compu{
    width: 50%;
    padding: 10% 5% 10% 10%;
  }
#datos{
    width: 45%;
    padding: 10% 5% 10% 5%;
    
}
.titulos{
  font-weight: bolder;
  color: #e36124;
}
#tabla-2 td{
  width: 700px;
}
#city{
  padding-left: 5%;
}
#location{
  padding-right: 5%;
}
#correo{
  cursor: pointer;
}
hr {
  border: none;
  border-top: 6px solid #e36124; /* Cambia el color y el estilo de la línea */
  margin: 0 70px; /* Añade espacio vertical entre las secciones */
}