*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pie-pagina{
    width: 100%;
    background-color: #e36124;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 135px;
}
.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 1rem;
}
.pie-pagina .grupo-1 .box p{
    color: white;
    margin-bottom: 10px;
    font-size: .88889rem;
}
.pie-pagina .grupo-1 .redSocial a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-left: 10px;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .redSocial img:hover{
    opacity: 0.85;
}
.pie-pagina .grupo-2{
    background: #231b31;
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.pie-pagina .grupo-2 small{
    font-size: .72222rem;
}

